// styles for example page
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    color: black;
    font: normal 16px/1.4 sans-serif;
}

body {
    padding: 1em;
}

h1,
h2 {
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

hr {
    margin: 2em 0;
    border-style: dashed;
    opacity: 0.1;
}

fieldset {
    padding: 1em;
    border: 1px dashed grey;
}

legend {
    padding: 0.25em 0.5em;
    border: 1px dashed grey;
}

// styles for usecases
.openingtimes {
    &--today {
        display: inline-block;
        padding: 0.5em;
        background-color: black;
        color: white;
        border-radius: 0.2em;
    }

    &--week {
        border-spacing: 0;

        th,
        td {
            text-align: left;
            vertical-align: top;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }

        td {
            padding-left: 0.5em;
        }

        tr {
            th,
            td {
                border-top: 1px dashed grey;
            }

            &:first-child {
                th,
                td {
                    border-top: none;
                }
            }
        }
    }

    &--tooltip {
        display: inline-block;
        padding: 0.5em;
        background-color: red;
        color: white;
        border-radius: 0.2em;
        box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.3);
    }

    &--future {
        border-spacing: 0;

        th,
        td {
            text-align: left;
            vertical-align: top;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }

        td {
            padding-left: 0.5em;
        }
    }

    &__value {
        font-style: italic;
    }
}
